html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
	background-color: #fff;
}

.disabled {
	color: #ccc;
	pointer-events: none;
    cursor: default    
}

.weekrow {
	width: 100%;
	padding: 0 5px;
}

.daybox {
	border: 1px solid #0088cc;
	padding: 10px;
	overflow:hidden;
	margin: 10px 0;
}

.boxheader {
	background-color: #0088cc;
	padding: 0 5px;
	color: #fff;
}

.rightalign {
	float: right;
}

.arow {
	width: 20%;
	float: left;
	color: #004466;;
}

.brow {
	width: 40%;
	float: left;
	color: #004466;;
}

.hrow {
	background-color: #0088cc;
	padding: 0 5px;
	width: 100%;
	clear: both;
	color: #fff;
}

.leftarrow {
	width: 20%;
	float: left;
	margin: 0 10px;
	text-align: left;
}

.centerdropdown {
	width: 40%;
	text-align: center;
	float: left;
}

.rightarrow {
	width: 20%;
	float:right;
	text-align: right;
	margin: 0 10px;
}

a:link, a:visited {
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: none;
    }
}

.navdiv {
	text-align: center;
	clear: both;
}

.link {
	cursor: pointer;
}

/*#personlist {
	display: none;
}*/

#starttime {
	display: none;
}

#endtime {
	display: none;
}

.full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }